<div id="title">
	<h1>Daniel Gamboa</h1>
	<h2>DBC Prep Work Profile</h2>
</div>
<br />
<div id="1">
</div>
<div id="pic">
	<%= image_tag("DG.jpg", :width => "250px") %>
</div>
<div id="intro">
	<p>Welcome to my DBC Prep profile page. I am currently putting the final touches
		on it and will be uploading the final version soon.</p>
</div>