<div id="container">
	<div id="title">
		<h1>Daniel Gamboa</h1>
		<h2>DBC Prep Work Profile</h2>
	</div>
	<div id="pic">
		<%= image_tag("DG.jpg", :width => "250px") %>
	</div>
	<div id="intro">
		<p>Welcome to my DBC Prep profile page. I created this in order to complete one of my DeBC preparation exercises.</p>
		<p>Feel free to check out my website and my DBC blog documenting my experience from zero to software apprentice.</p>
		<p>Thanks and Godspeed.</p>
	</div>
</div>