<div id="container">
	<div id="title">
		<h1>Daniel Gamboa</h1>
		<h2>DBC Prep Work Profile</h2>
	</div>
	<div id="pic">
		<%= image_tag("DG.jpg", :width => "250px") %>
	</div>
	<div id="intro">
		<p>Welcome to my DBC Prep profile page. I created this in order to complete one of my DBC preparation exercises.</p>
		<p>Feel free to check out my DBC blog documenting my experience from zero to software apprentice.</p>
		<p>Thanks and Godspeed.</p>
	</div>
	<footer>
		<ul>
			<li><a href="http://www.dnlgmb.tumblr.com">DBC Blog</a></li>
			<li><a href="http://www.facebook.com/people/@/8381297">Facebook</a></li>
			<li><a href="http://www.linkedin.com/pub/daniel-gamboa/17/511/219">LinkedIn</a></li>
			<li><a href="http://twitter.com/dnlgmb">Twitter</a></li>
		</ul>
	</footer>
</div>