<div id="title">
	<h1>Daniel Gamboa</h1>
	<h2>DBC Prep Work Profile</h2>
</div>
<br />
<div id="pic">
	<%= image_tag("DG.jpg", :width => "250px") %>
</div>
<div id="intro">
	<p>Welcome to my DBC Prep profile page, and we will keep typing to see 
		how it looks when this spills over into the second line.</p>
</div>